.activities {
  padding-bottom: 120px;
}

.activities-not-login {
  display: flex;
  justify-content: center;
}

.activity {
  display: flex;
  flex-direction: row;
}

.avatar {
  margin: 15px;
}

.activity-details {
  margin: 10px 0 10px 25px;
}

.activity-actor-and-action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.activity-action {
  padding: 0 8px;
}

.activity-createdAt {
  font-size: 0.9em;
  margin-top: 5px;
}

.click-to-login {
  background: #f1c40f;
  color: white;
  padding: 15px;
  margin: 50px;
  border-radius: 50px;
}
