.repositories, .developers {
  margin-bottom: 130px;
}

.trending-filter {
  position: fixed;
  z-index: 99;
  bottom: 120px;
  right: 20px;
  display: flex;
  align-items: center;
}

.trending-filter-plus:before {
  content: '\FF0B';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #88abed;
  font-size: 45px;
  color: white;

  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.8);
  box-shadow:0 0 1px rgba(0,0,0,0.8);
}
